/*https://migi.me/css/image-unity-size/*/

.image-col{
    position: relative;
    padding: 20%;
    margin: 20px 80px 50px;
    width: calc(100% / 4 - 20px);
    /*overflow: hidden; mikireru*/
}
.image-col> img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 150%;
    
}
.navbar-nav {
    /*flex-direction:row; */
}
.footer {
    position: absolute;
    /*bottom: 0;*/
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    padding:20px;
    }
    body > .container {
    padding: 60px 15px 0;
    }
    .container .text-muted {
    margin: 20px 0;
    }
     
    .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    }